spring:
  application:
    name: SuperviseMe
  datasource:
    url: jdbc:h2:file:./supervise
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: no-reply-draka@gmail.com
    password: mypassword
