spring:
  application:
    name: SuperviseMe
  datasource:
    url: jdbc:h2:file:./supervise
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: no-reply-draka@gmail.com
    password: mypassword

  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui.html
    show-actuator: true
    packages-to-scan: com.example.superviseme.restcontrollers
    paths-to-match: /**

  management:
    endpoints:
      web:
        exposure:
          include: '*'
    endpoint:
      env:
        show-values: always



file:
  upload-dir: ./documents

      


